/*
 * General
 */
.info-section_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: opacity 1.3s ease(out-expo) 1s;

  &.toggle-side-bar-transition {
    transition: opacity 1.3s ease(out-expo);
  }
}

.info-section_overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease(out-expo);
  cursor: pointer;

  .toggle-side-bar-transition & {
    transition: opacity 1s ease(out-expo)s;
  }
  .toggle-side-bar-enter & {
    opacity: 0;
  }
  .toggle-side-bar-leave & {
    opacity: 0;
  }
}

.info-section_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: 2;
  background: $color-blue-dark;
  color: $color-white;
  overflow: hidden;

  transition: transform 1.3s ease(out-expo);

  .toggle-side-bar-transition & {
    transition: transform 1.3s ease(out-expo);
  }
  .toggle-side-bar-enter & {
    transform: translate3d(100%, 0, 0);
  }
  .toggle-side-bar-leave & {
    transform: translate3d(100%, 0, 0);
  }
}

.info-section_slider {
  position: relative;
  width: 200%;
  height: 100%;
  transition: transform 1.5s ease(out-expo);
  &--article-view {
    transform: translate3d(-50%, 0, 0);
    .info-section_article-summary {
      overflow: hidden;
      width: calc(50%);
    }
  }
}

/*
 * Content
 */

.info-section_chapter-title {
  font-family: $font-circular;
  font-size: 3rem;
  left: 0;
  position: absolute;
  z-index: 2;
  background: $color-blue-dark;
  width: 90%;
  padding: 4rem 3rem 2rem 5%;
}

.info-section_article-summary,
.info-section_article-content {
  @include clearfix;
  @include custom-scrollbar;
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding: 12rem 5% 6rem 5%;
  font-family: $font-tstar;
  overflow: hidden;
}

.info-section_article-summary {
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
}

.info-section_article-summary-image {
  display: block;
  margin: auto;
  width: 100%;
}

.info-section_article-element {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: color 0.2s ease-out;
  opacity: 0;

  &:hover {
    color: $color-grey;
  }
}

.info-section_article-separator {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed $color-white;

  &--article {
    position: relative;
    margin: 2rem 0;
  }
}

.info-section_article-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 2.5rem;

  &--article {
    margin-top: 2rem;
  }
}

.info-section_article-date {
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

/*
 * Article Content
 */

.info-section-close {
  position: absolute;
  width: 30px;
  top: 4rem;
  right: 5%;
  fill: $color-white;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 5;
  &:hover {
    fill: $color-grey;
    transform: scale(1.05);
  }
}

.info-section_back-to-index {
  color: $color-white;
  transition: color 0.3s ease-out;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: $font-tstar;
  margin: 0 0 2rem 0;
  padding: 0;

  &:hover {
    color: $color-grey;
  }
}

.info-section_back-to-index-icon {
  display: inline-block;
  transition: transform 0.3s ease-out;

  .info-section_back-to-index:hover & {
    transform: translateX(-4px);
  }
}

.info-section_article-picture {
  display: block;
  width: 100%;
}

.info-section_article-description {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.info-seciton_article-link {
  color: $color-grey;
  transition: color 0.3 ease-out;

  &:hover {
    color: $color-red;
  }
}