// General
.intro_wrapper,
.intro_container {
  position: relative;
  width: 100%;
  height: 100%;
  background: $color-black;
  color: $color-white;
  overflow: hidden;
  font-family: $font-circular;
}

.intro_background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.intro_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  opacity: 0.8;

  circle {
    transform-origin: center;

    animation: rotation 16s infinite;

  }

  path {
    transform-origin: center;
    animation: reverseRotation 10s ease infinite;
  }
}

.intro_title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-white;
  transform: translate(-50%, -50%);
  letter-spacing: 0.5rem;
  font-family: $font-circular;
  span {
    display: block;
  }
}

// Fingerprint container
.intro_fingerprint-container {
  position: absolute;
  left: 50%;
  bottom: 10%;
  cursor: pointer;
  text-align: center;
  transform: translate3d(-50%, 0, 0);

  &:hover {
    .intro_fingerprint-icon {
      stroke: $color-red;
    }
    path {
      stroke-dashoffset: 2000;
      transition: stroke 0.4s ease-out, stroke-dashoffset 1.5s ease-out;
    }
  }
}

.intro_fingerprint-icon {
  display: block;
  margin: 0rem auto 2rem auto;
  width: 10rem;
  fill: none;
  stroke: $color-white;

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1900;
    transition: stroke 0.4s ease-out, stroke-dashoffset 0.7s ease-out;
  }
}

.intro_fingerprint-instruction-container {
  position: relative;
}

.intro_fingerprint-instruction {
  display: inline-block;
  color: $color-white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;

  &--above {
    position: absolute;
    top: -5px;
    left: -10px;
    color: $color-black;
    background: $color-white;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 10px;
    width: 0;
  }
}

@keyframes rotation {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
    stroke-dashoffset: 1800;
  }
}
@keyframes reverseRotation {
  from {
    transform: none;
  }
  to {
    transform: rotate(-360deg);
  }
}