.navigation_wrapper {
  position: absolute;
  color: $color-white;
  bottom: 3rem;
  right: 40%;
  margin-right: 4rem;
  transform: translate3d(0, 0, 0);
  z-index: 4;

  transition: all 0.7s ease-out 0.3s;

  &.navigation_wrapper-enter,
  &.navigation_wrapper-leave {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s ease-out;
  }
}

.navigation_container {

}

.navigation_element {
  display: inline-block;
  font-size: 1.3rem;
  font-family: $font-tstar;
  color: $color-white;
  cursor: pointer;
  transition: color 0.3s ease-out;
  padding: 1rem;

  &:first-child {
    margin-right: 2rem;
  }
  &:hover {
    color: $color-grey;
  }
}